<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t('activerecord.attributes.employee.name') %>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.admission_date') %>:</strong>
    <%= employee.admission_date %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.cpf') %>:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.email') %>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.birth_date') %>:</strong>
    <%= employee.birth_date %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.location') %>:</strong>
    <%= employee.location %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.function') %>:</strong>
    <%= employee.function %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.wallet_working') %>:</strong>
    <%= employee.wallet_working %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.gross_salary') %>:</strong>
    <%= employee.gross_salary %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.active') %>:</strong>
    <%= display_boolean(employee.active) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.employee.company_id') %>:</strong>
    <%= employee.company.name %>
  </p>

</div>
