<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Admission date:</strong>
    <%= employee.admission_date %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= employee.birth_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= employee.location %>
  </p>

  <p>
    <strong>Function:</strong>
    <%= employee.function %>
  </p>

  <p>
    <strong>Wallet working:</strong>
    <%= employee.wallet_working %>
  </p>

  <p>
    <strong>Gross salary:</strong>
    <%= employee.gross_salary %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= employee.active %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= employee.company_id %>
  </p>

</div>
