<div id="<%= dom_id company %>">
  <p>
    <strong><%= t('activerecord.attributes.company.name') %>:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.fantasy_name') %>:</strong>
    <%= company.fantasy_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.cnpj') %>:</strong>
    <%= company.cnpj %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.owner_name') %>:</strong>
    <%= company.owner_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.location') %>:</strong>
    <%= company.location %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.site_url') %>:</strong>
    <%= company.site_url %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.email') %>:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.description') %>:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.birth_date') %>:</strong>
    <%= company.birth_date %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.logo') %>:</strong>
    <%= company.logo %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.company.active') %>:</strong>
    <%= company.active %>
  </p>

</div>
