<div id="<%= dom_id periods_vacation %>">
  <p>
    <strong>Name:</strong>
    <%= periods_vacation.name %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= periods_vacation.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= periods_vacation.date_end %>
  </p>

  <p>
    <strong>Gross salary:</strong>
    <%= periods_vacation.gross_salary %>
  </p>

  <p>
    <strong>Average value:</strong>
    <%= periods_vacation.average_value %>
  </p>

  <p>
    <strong>Number dependents:</strong>
    <%= periods_vacation.number_dependents %>
  </p>

  <p>
    <strong>Pension alimentary:</strong>
    <%= periods_vacation.pension_alimentary %>
  </p>

  <p>
    <strong>Bonus pecuniary:</strong>
    <%= periods_vacation.bonus_pecuniary %>
  </p>

  <p>
    <strong>Advance parcel:</strong>
    <%= periods_vacation.advance_parcel %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= periods_vacation.days %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= periods_vacation.employee_id %>
  </p>

</div>
