<div id="<%= dom_id periods_vacation %>">
  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.name') %>:</strong>
    <%= periods_vacation.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.date_start') %>:</strong>
    <%= periods_vacation.date_start.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.date_end') %>:</strong>
    <%= periods_vacation.date_end.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.gross_salary') %>:</strong>
    <%= number_to_currency(periods_vacation.gross_salary) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.average_value') %>:</strong>
    <%= periods_vacation.average_value %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.number_dependents') %>:</strong>
    <%= periods_vacation.number_dependents %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.pension_alimentary') %>:</strong>
    <%= periods_vacation.pension_alimentary %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.bonus_pecuniary') %>:</strong>
    <%= display_boolean_raw(periods_vacation.bonus_pecuniary) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.advance_parcel') %>:</strong>
    <%= display_boolean_raw(periods_vacation.advance_parcel) %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.days') %>:</strong>
    <%= periods_vacation.days %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.periods_vacation.employee') %>:</strong>
    <%= periods_vacation.employee.name %>
  </p>

</div>
